<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Docsera</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>docsera</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>نستخدم Face ID لتسجيل الدخول بسرعة وأمان</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>يحتاج DocSera إلى إذن الوصول إلى موقعك لتحسين الاقتراحات القريبة وإظهار موقعك على الخريطة.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>يحتاج DocSera إلى موقعك لعرض الأطباء القريبين منك وإظهار موقعك على الخريطة.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	
	<key>NSBonjourServices</key>
	<array>
    <string>_http._tcp</string>
	</array>


	<key>NSLocalNetworkUsageDescription</key>
	<string>نستخدم الشبكة المحلية للاتصال مع جهاز التطوير أثناء الاختبار.</string>
	<key>NSCalendarsUsageDescription</key>
    <string>يحتاج DocSera إلى الوصول إلى التقويم فقط في حال رغبتك بإضافة المواعيد الطبية إلى تقويمك.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>يحتاج DocSera إلى الوصول إلى مكتبة الصور للسماح لك برفع صور أو مستندات من جهازك.</string>
    <key>NSCameraUsageDescription</key>
    <string>يحتاج DocSera إلى الوصول إلى الكاميرا لالتقاط الصور وإرفاقها بالمستندات.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>يحتاج DocSera إلى الوصول إلى الميكروفون في حال تسجيل فيديو أو صوت.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>يحتاج DocSera إلى إذن لحفظ الصور التي تقوم بتحميلها أو التقاطها.</string>

    <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
    <false/>

</dict>
</plist>
